<div class="tool-bar">
  <div>
    <input type="text" id="searchBox" ng-model="$ctrl.searchTerm" ng-change="$ctrl.search()" placeholder="Search"/>
    <button type="button" ng-click="$ctrl.clearSearch()">clear</button>
  </div>
  <div>
    <label>sort:</label>
    <select ng-model="$ctrl.sort" ng-change="$ctrl.sortChange()" ng-options="header.label as header.label for header in $ctrl.collection.headers">
    </select>
    <select ng-model="$ctrl.sortDir" ng-change="$ctrl.sortChange()" ng-options="dir.val as dir.label for dir in $ctrl.sortDirOpts">
    </select>
  </div>
</div>

<table class="table">
  <caption>
    <span>Company Devices</span>
    <span>Total: {{ $ctrl.collection.rows.length }} / {{ $ctrl.rawRows.length }}</span>
  </caption>
  <thead>
    <tr>
      <th ng-repeat="header in $ctrl.collection.headers track by $index"
          ng-bind="header.label">
      </th>
    </tr>
  </thead>
  <tbody ng-if="$ctrl.collection.rows.length > 0">
    <tr ng-repeat="row in $ctrl.collection.rows">
      <td ng-repeat="column in row track by $index"
          ng-bind="column">
      </td>
    </tr>
  </tbody>
  <tbody ng-if="$ctrl.collection.rows.length == 0">
      <tr>
        <td colspan="4" class="no-content">No search results found.</td>
      </tr>
  </tbody>
</table>
